<!--Sign in Section-->
<div class="">
    <h1 class="display-2 text-center">Sign Up For the News Letter</h1>
</div>
<br>
<form action="/subscribe" method="post" style="width: 40%; " class="fomr-group mx-auto">
    <h3>Please Enter First Name</h3>
    <input type="text" name="first" id="" class="form-control" placeholder=" First Name" required="required">
    <br>
    <h3>Please Enter Surname Name</h3>
    <input type="text" name="second" id="" class="form-control" placeholder=" Surname Name" required="required">
    <br>
    <h3>Please Enter Email Address</h3>
    <input type="email" name="email" id="" class="form-control" placeholder=" Email Address" required="required">
    <br>
    <h3>Please Enter Phone Number</h3>
    <input type="number" name="number" id="" class="form-control" placeholder=" Phone Number" required="required">
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit Form</button>
</form>